@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
.containers {
    height: 100%;
}

#sec1 {
    background-image: url("https://images.unsplash.com/photo-1607743386760-88ac62b89b8a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=david-schultz-SrewPUfo2c0-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.438);
    max-width: 100%;
}
#sec1 h3 {
    font-size: 90%;
}
#sec1 h1 {
    font-size: 45px;
}

#content {
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: opens 1.5s;
    animation-timing-function: linear;
}

#content h1 {
    font-weight: bolder;
}

#content h3 {
    font-weight: bolder;
}

@keyframes opens {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

#homepage,
#skillspage {
    background-color: rgba(240, 240, 240, 0.726);
    /* height: max-content; */
}
#down-arrow {
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    animation: moves 2s infinite;
    animation-timing-function: linear;
    cursor: pointer;
}

@keyframes moves {
    0% {
        top: 70%;
    }
    25% {
        top: 72%;
    }
}

.header {
    padding: 20px;
    height: 10%;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: black 1px 1px 5px;
    z-index: 1;
}

.head {
    display: flex;
    justify-content: space-around;
}

.nav ul {
    display: flex;
}

.nav ul li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
}

#drop-down {
    padding: 20px;
    display: none;
    position: sticky;
    top: 10%;
}

#drop-down ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#drop-down ul li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
}

#name {
    font-size: 25px;
    color: rgb(23, 23, 24);
    font-weight: bolder;
}

#menu {
    font-size: 35px;
    color: rgb(52, 52, 53);
    display: none;
    cursor: pointer;
}

#footer {
    height: 150px;
    background-color: rgb(36, 34, 34);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#lin {
    color: rgb(100, 98, 98);
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

#lin-div {
    border: 1.5px solid rgb(110, 109, 109);
    width: max-content;
    border-radius: 4px;
    margin: 5px;
}

#lin-div:hover,
#lin:hover {
    transition: 0.2s ease-in;
    color: white;
    border-color: white;
}

#icons {
    display: flex;
    position: absolute;
    margin-left: 44%;
    margin-top: 50px;
}

#end {
    color: white;
    display: flex;
    position: absolute;
    margin-left: 42%;
    margin-top: 100px;
}

#heart {
    color: #d44141;
    animation: 4s pulse infinite;
    font-size: 25px;
    padding: 0 5px 0 5px;
    animation-timing-function: ease-in;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.25);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.25);
    }
    70% {
        transform: scale(1);
    }
}

#about {
    text-align: center;
    padding: 30px;
    color: rgb(58, 56, 56);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#about h1 {
    color: rgb(36, 35, 35);
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: bolder;
    margin-top: 100px;
}

#about p {
    padding: 40px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

hr {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border-color: red;
    background-color: red;
    margin-top: 20px;
}

#workspage h1 {
    color: rgb(36, 35, 35);
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    padding-top: 35px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 350px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px;
}
.box p {
    padding: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.658);
}

#fe {
    height: 50px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#hed {
    margin-left: 30px;
    font-size: 20px;
}

#hedui {
    margin-left: 100px;
}

#w1 {
    height: 330px;
    width: 440px;
    margin: 22px;
    margin-top: 50px;
    background-image: url("./images/notes.png");
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.575);
    color: rgb(228, 228, 228);
    text-align: center;
    cursor: pointer;
}
#w1 h3 {
    padding: 10px;
    font-size: 24px;
    color: white;
}

#w1 p {
    font-size: 18px;
    color: white;
}

#w1:hover {
    transform: scale(1.05);
}

#w2 {
    height: 300px;
    width: 500px;
    margin: 20px;
    margin-top: 50px;
    background-image: url("./images/news.png");
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.575);
    background-size: cover;
    color: white;
    cursor: pointer;
    text-align: center;
}
#w2 h3 {
    padding: 30px;
    font-size: 24px;
    color: white;
}

#w2 p {
    font-size: 18px;
    color: white;
}

#w2:hover {
    transform: scale(1.05);
}

#w3 {
    height: 550px;
    width: 420px;
    margin: 20px;
    margin-top: 50px;
    background-image: url("./images/img1.png");
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.575);
    background-size: cover;
    color: white;
    cursor: pointer;
    text-align: center;
}
#w3 h3 {
    padding: 30px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

#w3 p {
    font-size: 18px;
    color: white;
}

#w3:hover {
    transform: scale(1.05);
}

#works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bord {
    border: 2px solid rgba(221, 216, 216, 0.705);
    padding: 30px;
    margin: 40px;
    height: 80%;
}

.b-skills {
    border-top: 1px solid #f9f9f9;
    padding-top: 46px;
    text-align: center;
    padding-bottom: 100px;
}

.b-skills:last-child {
    margin-bottom: -30px;
}

.b-skills h2 {
    margin-bottom: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.skill-item {
    position: relative;
    max-width: 250px;
    width: 100%;
    margin-bottom: 30px;
    color: #555;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 27px;
}
.skill-item .chart,
.skill-item .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.skill-item .chart:before {
    content: "";
    width: 0;
    height: 100%;
}

.skill-item .chart:before,
.skill-item .percent {
    display: inline-block;
    vertical-align: middle;
}

.skill-item .percent {
    position: relative;
    line-height: 1;
    font-size: 40px;
    font-weight: 900;
    z-index: 0;
    color: black;
}

.skill-item .percent:after {
    content: attr(data-after);
    font-size: 20px;
}

p {
    font-weight: 900;
}

#skill {
    color: rgb(36, 35, 35);
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: bolder;
    margin-top: 100px;
    text-align: center;
}

.row {
    margin-top: 100px;
}
@media (max-width: 1000px) {
    .nav ul {
        display: none;
    }
    #menu {
        display: block;
    }

    #icons {
        margin-left: 35%;
    }
    #end {
        margin-left: 30%;
    }
    #about p {
        width: 95%;
        font-size: 19px;
        padding: 40px;
    }

    .b-skills {
        margin-left: 100px;
    }

    #skill {
        color: rgb(36, 35, 35);
        letter-spacing: 5px;
        font-size: 45px;
        font-weight: bolder;
        margin-top: 100px;
        text-align: center;
        margin-left: -100px;
    }
    /* #homepage {
        height: max-content;
    } */
}
/* @media (max-width: 1190px) {
    #homepage {
        height: 280vh;
        height: max-content;
    }
} */

/* @media (max-width: 790px) {
    #homepage {
        height: 330vh;
        height: max-content;
    }
} */
